body { 
   background-color: #000000;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   
   border-left: thick solid #ff0000;
   border-right: thick solid #ff0000;
   
   text-decoration: none;
   
   font-family: Verdana;
   
   color: white;
   text-align: center;
}

body a {
   text-decoration: none;
   color: white;
   background-color: black;
}
body a:hover {
   color: orange;
}
body a:visited {
   color: red;
}

﻿p {
   color: blue;
}
