body { 
   background-color: #000000;
   background-image: url(http://p1.pichost.me/i/58/1823180.jpg); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   
   border-left: thick double #ff0000;
   border-right: thick double #ff0000;
   
   text-decoration: none;
   
   font-family: Verdana;
}

﻿p {
   color: blue;
}
